.text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    margin: 30px;
}

.heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-60%) translateX(-50%);
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
    border: 1px solid;
}

.body-text {
    padding: 20px;
}